* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Monospaced, sans-serif;
    background-color: #f2f2f2;
    font-size: 1.5rem;
}


button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: bold;
}

button:hover {
    background-color: #555;
}

.error {
    color: red;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 150px 50px 80px 50px;
    font-size: 1.75rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
}

#board {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 220px;
    margin-top: 30px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    height: 70px;
    width: 70px;
    font-size: 2rem;
}

.cell:hover {
    cursor: pointer;
    background-color: lightskyblue;
}

.cell.outer {
    border-right: none;
}

.cell.bottom {
    border-bottom: none;
}


#resetButton {
    display: none;
    margin-top: 30px;
}

#newGameButton {
    display: none;
    margin-top: 30px;
}

